* {
    box-sizing: border-box;
  }

/* Bolding h2 tags */
h2 {
    font-weight: bold;
    color: rgb(4, 4, 12);
    text-align: center;
}

/*Creating thicker hr line */
hr.line {
    border:  1px solid black;
}

/* Styling for the index page*/
#contact {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30%;
    /* margin-bottom: 80px; */
    /* background-color: darkgray; */
    /* margin-bottom: 30%; */
    /* opacity: 95%; */
}


/* Styling for the index page*/
#index {
    /* padding-right: 15px;
    padding-top: 5%;
    padding-bottom: 20%;
    opacity: 90%;
    margin-bottom: 10%; */
    margin-top: 5%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30%;
    background-color: rgb(112, 110, 139);
}

/*Text layout for the About me section*/
.about-me {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

/* .wrapper {
    height: 100%;
} */

body {
    resize: both;
    overflow: auto;
    height: 100%;
}

/*Adding in padding on the left for all row classes*/
.row {
    padding-left: 20px;
    padding-right: 20px;
}

.card-title,
.card-footer {
    text-align: center;
}



.card-deck {
    margin-bottom: 20%;
    opacity: 95%;
}

/* .navbar .navbar-expand-sm .navbar-dark .bg-dark {
    background-color: (rgba(216, 214, 214, 0.692));
} */


.card {
    opacity: 500%;
    background-color: rgb(112, 110, 139);
    color: rgb(5, 5, 5);
}

/*Position & styling for the footer*/
.footer {
    position: fixed;
    height: 5%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color:rgba(17, 6, 34, 0.658);
    color: gainsboro;
    text-align: center;
}

.hero-img {
    background-image: linear-gradient(rgba(216, 214, 214, 0.692), rgba(17, 6, 34, 0.658)),url("cool-background.png");
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    /* margin-bottom: -80px; */
}

/*media query to fix elements when resized to 450px and below */
@media screen and (max-width: 400px) {
    body {
      width: auto;
    }
    
    /*Setting wrapper width*/
    .wrapper {
      width: 100%;
    }

    /*Repositioning of the contact form*/
    #contact,
    #index,
    #portfolio {
        padding-right: 15px;
        margin-right: 10%;
        padding-top: 10px;
        padding-bottom: 30%;
        /* margin-bottom: 10%; */
        width: auto;
    }
    
    /*Floating bio right to clear the picture*/
    .bio {
        float: right;
    }

}